<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Blog Admin 2023</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Design by <a href="#" target="_blank">ANL </a></span>
    </div>
</footer>